* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:red;
}

p {
    font-style: italic;
    color: #333;

}

header, main, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

.destaque {
    width: 100%;
}

footer {
    text-align: center;
    border-top: 2px solid lightgray;
    padding: 16px;
}

footer img{
    width: 32px;

}